/*цвет основного текста #757575*/
/*вторичный цвет текста #212121*/
/*белый #FFFFFF*/
/*акцент #2196F3*/
/*цвет фона #F5F4FA*/
/*цвет фона занятия rgba(47, 48, 58, 0.8)*/
/*цвет фона героя и футера #2F303A*/
/*Шрифты: Raleway regular 400, bold 700; 
Roboto regular 400, medium 500, bold 700 ,black 900
font-family: Raleway, sans-serif;
font-family: Roboto, sans-serif;*/

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --primary-background-color: #f5f4fa;
  --title-background-color: rgba(47, 48, 58, 0.8);
}

body {
  background-color: var(--white-color);
  color: var(--primary-text-color);

  font-family: 'Roboto', 'Segoe UI', 'sans-serif';
  letter-spacing: 3%;
  text-decoration: none;
}

ul {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
  text-decoration: none;

  font-family: 'Raleway', 'sans-serif';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.site-nav .link {
  color: var(--title-text-color);
  text-decoration: none;
}

.site-contact .link {
  color: var(--primary-text-color);
  text-decoration: none;
}

.site-nav .link:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.site-nav .link:focus {
  background-color: var(--accent-color);
  text-decoration: underline;
}

.site-contact .link:hover {
  color: var(--accent-color);
}

.site-contact .link:focus {
  background-color: var(--accent-color);
}

.hero {
  background-color: #2f303a;
}

.hero .hero-title {
  color: var(--white-color);
}

.button-order:hover,
.button-order:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.title {
  color: var(--title-text-color);
}

.benefits-image {
  background-color: var(--primary-background-color);
}

.benefits-image:hover {
  background-color: var(--accent-color);
}

.benefits-title {
  color: var(--title-text-color);
}

.business-title:hover {
  color: var(--accent-color);
  background-color: var(--title-background-color);
}

.business-title:focus {
  color: var(--accent-color);
  background-color: var(--title-background-color);
}

.business-title: {
  color: var(--white-color);
  background-color: var(--title-background-color);
}

.team-title {
  color: var(--title-text-color);
}

.section {
  background-color: var(--primary-background-color);
}

.team-list {
  background-color: var(--white-color);
}

.link-social {
  color: var(--primary-text-color);
  text-decoration: none;
}

.link-social:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}

.link-social:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  text-decoration: none;
}

.pic-company:hover {
  background-color: var(--accent-color);
}

.pic-company:focus {
  background-color: var(--accent-color);
}

footer {
  color: var(--white-color);
  background-color: #2f303a;
  text-decoration: none;
}

.contacts-footer {
  color: rgba(255, 255, 255, 0.6);
}

.text-footer {
  color: rgba(255, 255, 255, 0.4);
}

footer .logo-one {
  color: var(--white-color);
  text-decoration: none;
}

.social .link-studio {
  color: var(--white-color);
  text-decoration: none;
}

.link-studio:hover {
  background-color: var(--accent-color);
  text-decoration: none;
}

.link-studio:focus {
  background-color: var(--accent-color);
}

.button:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.item-type .item-text:hover {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.item-type .item-text:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.item-type .item-title {
  color: var(--title-text-color);
}

.item-type .category,
.item-type .item-text {
  color: var(--primary-text-color);
}

.item-type {
  text-decoration: none;
}
